body {
  font-family: Nasa;
  color:white;
  background-color: black;

}
nav {
  font-family: Nasa;
  display: flex;
  justify-content:space-around;
}

/* .planet-details{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  } */

.planet{
display:flex;
flex-direction: row;
margin-top: 1rem;
}

.p{
  display:flex;
flex-direction: column;
}

.medium-image{
  width:30rem;
  height:25rem;
}
